@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
    margin: 0; /* Set margins to 0 to control via internal CSS */
  }

  /* Center and apply margins to the printable content */
  .printable {
    width: 210mm; /* A4 page width */
    box-sizing: border-box;
    padding-left: 5mm; /* 20mm padding creates the side margins */
    padding-right: 5mm; /* 20mm padding creates the side margins */
  }

  /* Hide elements with the no-print class */
  .no-print {
    display: none !important;
  }

  /* Adjustments for the body */
  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
